.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table tbody td{
  width: 100px;
  height: 30px;
  background-color: rgb(72, 129, 179);
  text-align: center;
  color: white;
}

table td button{
  border: 1px solid red;
  background-color: #ff2625;
  color: white;
  cursor: pointer;
}

table tfoot tr td.static{
  width: 100px;
  height: 30px;
  background-color: rgb(127, 72, 179);
  text-align: center;
  color: white;
  margin-left: 50px;
}


.add-form{
  margin-bottom: 30px;
}

.add-form input{
  width: 150px;
  height: 20px;
}

.add-form button {
  width: 100px;
  color: aliceblue;
  background-color: rgb(31, 171, 31);
  cursor: pointer;
  height: 25px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

